CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
redrectangle
redrectangle.self
redrectangle.self.out
redrectangle.velf
redrectangle.vpk.out
redrectangle.vpk_param.sfo
_deps

