CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
starter
starter.self
starter.self.out
starter.velf
starter.vpk.out
starter.vpk_param.sfo
_deps

